# ============================================================
#  MediAssist-AI -- Summarizer Agent -- Local Development .env
#  See orchestrator_agent/.env for instructions.
# ============================================================

AZURE_TENANT_ID=baf5b083-4c53-493a-8af7-a6ae9812014c
AZURE_CLIENT_ID=b24341c2-7e09-4e72-89fd-1d176af84a1f
AZURE_CLIENT_SECRET=<secret>
# Need this for KeyVault
AZURE_KEY_VAULT_URI=https://kv-medai-e8976d87.vault.azure.net/

AZURE_OPENAI_ENDPOINT=https://aoai-mediassist-e8976d87.openai.azure.com/
AZURE_OPENAI_API_VERSION=2024-06-01
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-3-small
AZURE_OPENAI_CHAT_DEPLOYMENT=Phi-4-mini-instruct
AZURE_SEARCH_ENDPOINT=https://srch-mediassist-e8976d87.search.windows.net
AZURE_SEARCH_INDEX=az-med-cont1-index-final
AZURE_SEARCH_INDEX1=az-med-cont1-index2
AZURE_BLOB_CONTAINER_NAME=az-medassistai-container1
AZURE_BLOB_CONTAINER_NAME1=az-medassistai-container2
AZURE_BLOB_MEDICAL_KB_FILE=icd_10_cm_october_2025_guidelines_0.pdf
AZURE_BLOB_MEDICAL_KB_FILE1=section111_valid_icd10_october2025.csv
AZURE_BLOB_PDF_FILE=icd_10_cm_october_2025_guidelines_0.pdf
AZURE_BLOB_CSV_FILE=section111_valid_icd10_october2025.csv
MONGO_DB_NAME=cosmos-mediassist-e8976d87
MONGO_INPUT_COLLECTION=sample_inputs
MONGO_OUTPUT_COLLECTION=rag_outputs
