# Local development
#VITE_API_URL=http://localhost:3000/api
#VITE_SOCKET_URL=http://localhost:3000

# Production (Azure) — uncomment and set before building for Azure
VITE_API_URL=https://webapp-mediassist-e8976d87.azurewebsites.net//api
VITE_SOCKET_URL=https://webapp-mediassist-e8976d87.azurewebsites.net/