openai
mcp
mcp[cli]
azure-monitor-opentelemetry
azure-cognitiveservices-speech
azure-keyvault-secrets
azure-identity
python-dotenv
truststore
pandas
openpyxl
requests
pypdf
azure-cosmos
pymongo
agent-framework
pytest
fastapi
uvicorn
pydantic
python-multipart
